.bg-white\/50 {
	background-color: rgba(255, 255, 255, 0.5);
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

#carrousel_banner .bg-white {
	background-color: rgb(238, 85, 85);
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
#carrousel_banner button {
	margin-top: 100px;
}

.bg-white\/30 {
	background-color: #e90c0c3c;
}

@media (max-width: 640px) {
	.bg-white\/50 {
		background-color: rgba(255, 255, 255, 0.5);
	}
	.bg-white {
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}
}

.-translate-x-1\/2 {
	align-items: center;
}
