@import url("https://fonts.googleapis.com/css2?family=Kotta+One&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

.purchase_content {
  padding: 100px 0;
  background: url(../../assets/banner2.jpg) no-repeat center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  h3 {
    color: #fff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p span {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  .main {
    width: 75%;
    margin: 35px auto;
    background: rgba(92, 90, 90, 0.479);
    padding: 30px 30px;
    display: block;
    overflow: auto;
    h2 {
      color: #fff;
      font-size: 28px;
      text-align: center;
      margin-bottom: 30px;
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  /*-- movie ticket --*/
  .screen {
    margin: 0 10px 10px 10px;
    background-color: #d88a04;
    color: #fff;
    text-align: center;
    padding: 9px 0;
    border-radius: 3px;
  }

  .seatCharts-cell {
    color: #182c4e;
    height: 29px;
    width: 29px;
    line-height: 27px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
  }

  .seatCharts-seat {
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    label {
      cursor: pointer;
    }
  }

  .seatCharts-seat.available {
    background-color: #e9e9e9;
    color: #000;
  }

  .seatCharts-seat.available:hover {
    background-color: #00b70c;
    border: none;
  }

  .seatCharts-seat.selected {
    background-color: #00b70c;
  }

  .seatCharts-seat.vip {
    background-color: #c99932;
  }

  .seatCharts-seat.vip:hover {
    background-color: #00b70c;
    border: none;
  }

  .seatCharts-seat.unavailable {
    background-color: #d00000;
    cursor: not-allowed;
  }

  .seatCharts-seat.unavailable label {
    cursor: not-allowed;
  }

  span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
  }
  .checkout-button {
    display: block;
    margin: 16px 0 22px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background: #d88a04;
    padding: 7px 11px;
    color: #fff;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .checkout-button:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    /*-- w3layouts --*/
    -ms-transition: 0.5s all;
  }
  .scrollbar {
    overflow-y: scroll;
  }

  ul.book-left li {
    font-size: 16px;
    font-weight: 600;
    color: #d88a04;
    line-height: 1.9em;
  }

  ul.book-right li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9em;
  }

  table button.btn {
    padding: 3px 12px;
    font-size: 12px;
  }
}

/*-- main --*/

#selected-seats {
  max-height: 84px;
  overflow-y: auto;
  overflow-x: none;
  width: 200px;
}

#selected-seats li {
  border: 1px solid #d3d3d3;
  background: #f7f7f7;
  margin: 6px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-weight: 600;
  padding: 6px 11px;
  width: 50%;
}

.thongTin tbody tr {
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.table tr {
  padding: 5px 12px;
  border-bottom: 1px solid gray;
}
