.react-multiple-carousel__arrow--left {
	left: 0;
	position: absolute;
}
.react-multiple-carousel__arrow--right {
	right: 0;
	position: absolute;
}

.react-multiple-carousel__arrow::before {
	font-size: 20px;
	color: #f75f00;
	display: block;
	font-family: revicons;
	text-align: center;
	z-index: 2;
	position: relative;
	font-weight: bold;
}

.react-multiple-carousel__arrow {
	position: absolute;
	outline: 0;
	transition: all 0.5s;
	border-radius: 35px;
	z-index: 2;
	border: 0;
	background: rgba(31, 41, 55, 0.595);
	min-width: 43px;
	min-height: 43px;
	opacity: 1;
	cursor: pointer;
}

@media (max-width: 640px) {
	.react-multiple-carousel__arrow::before {
		font-size: 16px;
		color: #ee1313;
		display: block;
		font-family: revicons;
		text-align: center;
		z-index: 2;
		position: relative;
	}

	.react-multiple-carousel__arrow {
		position: absolute;
		outline: 0;
		transition: all 0.5s;
		border-radius: 50%;
		z-index: 2;
		border: 0;
		background: rgba(46, 41, 41, 0.595);
		min-width: 30px;
		min-height: 30px;
		opacity: 1;
		cursor: pointer;
	}
}
